:root{
    --dark-color:#222831;
    --light-color:#393e46;
    --llight-color:#b55400;

}
html{
    font-family: Oswald;
}

h1{
    font-family:Mansalva;
}
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.top-container{
    background: linear-gradient(to right top, var(--dark-color),var(--light-color),var(--llight-color));
    height:450px;

}
.top-wrapper{
    width:600px;
    height: 450px;
    margin: 0 auto;
    border:2px solid whitesmoke;
    position: relative;
    text-align:center;
}
.cloud{
    position: absolute;

}
.mountain{
    position:absolute;
    bottom:0;
    left:0;
}
.cloud1{
    left: 10%;
    top:20%;
}
.cloud2{
    right:15%;
    top:8%;
}
.middle_container{
    width:800px;
    margin:2rem 0 auto;
}
.underlined{
    text-decoration: underline;
}
.profile_image{
    width:8%;
}
.profile{

    text-align:center;

}